body {
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    padding: 0;
    margin: 0;
    text-transform: uppercase;}

h1 {
    font-size: 20px;}

h2 {
    font-size: 18px;}

.container {    
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);}

a {
  text-decoration: none;
  color: #000000;}

.main-header {
    position: relative;
    }

.main-navigation ul{
    margin: 0;
    padding: 0;
    list-style: none; 
    font-size: 0px;
   }

.main-navigation li {
    display: inline-block;    
    width: 20%;
    }

.main-navigation-link{
    font-size: 14px;
    display: block;
    padding: 15px 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    }

.main-navigation li:nth-child(2){
    margin-right: 20%;
    }

.logo {
    width: 138px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-right: auto;
    margin-left: auto;
    transform: translate(-50px;)
    }

.clearfix::after {
  content: "";
  display: table;
  clear: both;}

.desc-definition{
    padding: 31px 0;
    line-height: 26px;
    text-align: center;
    }

.title-definition{
    font-size: 21px;
    color: #000;}

.desc-definition p{
    margin: 20px 0;
    
}

.welcome {
    background-image: url(../img/index-intro-bg.jpg);
    padding-bottom: 70px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    }

.welcome-img {
    padding-top: 60px;
    padding-right: 162px;
    padding-left: 157px;}

.benefits{
    
    }

.benefits-text {  
    padding: 0 4%;    
    background-color: #81b3d2;
    padding-top: 35px;    
    width: 33,3334%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    float: left;}

.benefits-text:nth-child(2){
    float: right;
}

.benefits-text h2{
    margin: 10px auto;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;}

.benefits-text p { 
    margin: 22px auto;}

.benefits-image{
    position: relative;
    overflow: hidden;
    width: 66,6667%;
    float: left;
    }
.benefits-image:nth-child(2) {
    float: right;
}

.benefits-image img {
    display: block;
    width: 100%;
    height: 256px;
}

.features{
    padding-top: 57px;
    padding-bottom: 65px;
    text-transform: uppercase;
    }

.features-name {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 33.33%;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    position: relative;

}

.features-item {
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    width: 33,3334%;
    text-align: center;
    float: left;}

.gray-bg {
    background-color: #eeeeee;
    padding-top: 47px;
    padding-bottom: 41px;}

.offer {
    padding-top: 57px;
    text-align: center;
    text-transform: uppercase;}

.offer-title {
    font-size: 30px;
}

.offer-search {
    background-color: #766357;
    width: 570px;
    min-height: 89px;
    margin-top: 207px;
    margin-left: auto;
    margin-right: auto;}

.search-hostel {
    text-decoration: none;
    color: white;}

.map {
    background: url("../img/map.jpg");
    height: 476px;
    width: 100%;
}

.main-footer {
    padding: 0;
    width: 100%;    
    }

.footer-visit {  
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    width: 33,3334;
    padding-top: 51px;
    padding-bottom: 51px;
    padding-left: 47px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;}

.footer-social {
    width: 33,3334;
    padding-top: 33px;
    padding-bottom: 34px;
    padding-left: 109px;
    padding-right: 82px;
    vertical-align: middle;
    display: inline-block;}

.copyright {
    width: 33,3334;
    margin-right: 25px;
   vertical-align: middle;
    display: inline-block;}

.search {
    background-color: aqua;
    width: 570px;
    height: 397;}

.search-label {
    float: left;
    padding-left: 53px;
    padding-right: 55px;}

.search-input {
    float: right;
    padding-right: 58px;
    padding-left: 20px;}

.search-grown {    
    float: left;}

.search-children {    
    float: right;}

.filter {
    background-image: url(../img/filter-bg.jpg);
    width: 100%;
    height: 219px;}

.selection-left{
    float: left;
    color: white;}

.selection-right {
    float: right;
    color: white;
}

.hotel-sorting {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 73px;
    min-height: 16px;
}

.hotel-title {
    padding-left: 28px; 
}
.hotel-item {
    width: 1200px;
    min-height: 152px;
}

.hotel-left-block{
    float: left;
    padding-left: 73px;}

.hotel-info {
    float: left;
}

.hotel-right-block {
    float: right;
    padding-right: 73px;
}

.hotel-info-parttel {
    padding-left: 28px;
    float: left;
}

.hotel-info-part {
    float: right;
}

