body {
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: normal;
    font-family: 'PT Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-transform: uppercase;}

h1 {
    font-size: 21px;
    font-weight: bold;}

h2 {
    font-size: 16px;}

.container {    
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);}

a {
  text-decoration: none;
  color: #000000;}

.main-header {
    position: relative;
    }

.main-navigation ul{
    margin: 0;
    padding: 0;
    list-style: none; 
    font-size: 0px;
   }

.main-navigation li {
    display: inline-block;    
    width: 20%;
    }

.main-navigation-link{
    display: block;
    padding: 15px 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    }

.main-navigation li:nth-child(2){
    margin-right: 20%;
    }

.logo {
    width: 138px;
    height: 70px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    margin-right: auto;
    margin-left: auto;
    transform: translateX(-50%);
    }

.clearfix::after {
  content: "";
  display: table;
  clear: both;}

.desc-definition{    
    text-align: center;
    }

.title-definition{
    font-weight: bold;
    padding-top: 43px;
    padding-bottom: 15px;
    font-size: 21px;
    line-height: 26px;
    color: #000;}

.desc-definition p{
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 26px;}

.welcome {
    position: relative;
    height: 510px;
    background: #3d4c57 url(../img/index-intro-bg.jpg) no-repeat 50% 30%;
    background-size: cover;
    }

.welcome::after {
    content: '';
    position: absolute;
    bottom: -10px;    
    height: 67px;
    width: 100%;
    background: transparent url(../img/white.png) no-repeat;
    background-size: 100%; }

.slogan {
    width: 458px;
    height: 352px;
    padding-top: 78px;
    margin-left: auto;
    margin-right: auto;    
    color: transparent; }


.benefits{
    
    }

.benefits-text {  
    background-color: #81b3d2;        
    width: 33.3334%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    float: left;}

.benefits-text:nth-child(2){
    float: right;
}
.benefits-text p {
    padding-top: 7px;
    padding-bottom: 40px;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 14px;
    line-height: 21px;
}

.benefits-text h2{
    padding-top: 36px;
    padding-bottom: 5px;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;}

.benefits-image{
    position: relative;
    overflow: hidden;
    width: 66.6667%;
    min-height: 256px;
    float: left;
    }
.benefits-image:nth-child(2) {
    float: right;
}

.benefits-image img {
    position: absolute;
    display: block;
    width: 100%;
    height: 256px;
}

.features-item {   
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 69px; 
    width: 33.3334%;
    text-align: center;
    float: left;}

.features-title {
    position: relative;     
    padding-top: 90px;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;}

.features-title::before{
    content: '';
    position: absolute;
    left: 50%;
    top: -17px;
    width: 78px;
    height: 88px;
    transform: translateX(-50%);
    background: transparent url('../img/result.png') no-repeat;}

 .features-title-house::before {
    background-position: 0 -157px;}

.features-title-food::before {
    background-position: 0 8px;}

.features-title-souvenirs::before {
    background-position: 0 -77px;}

.features-item p{
    font-size: 14px;
    line-height: 21px;
    padding-top: 7px;
    padding-left: 13%;
    padding-right: 13%;
}

.call-item {   
    box-sizing: border-box;
    margin-top: 33px;
    margin-bottom: 45px; 
    width: 33.3334%;
    text-align: center;
    float: left;}

.features-name-call {
    position: relative;     
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 6px;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;}

.features-call p {
    font-size: 14px;
    line-height: 21px;
    padding-top: 8px;
    padding-left: 15%;
    padding-right: 15%;
}
.gray-bg {
    background-color: #eeeeee;}

.offer {
    margin-top: 55px;
    text-align: center;
    text-transform: uppercase;}

.offer-title {
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;}

.offer p {
    padding-top: 7px;
    padding-left: 30%;
    padding-right: 30%;
}

.offer-search {
    background-color: #766357;
    width: 570px;
    min-height: 89px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;}

.search-hostel {
    position: relative;
    display: block;
    margin-top: 45px;
    padding: 30px;
    font-size: 21px;
    line-height: 26px;
    color: white;
    font-weight: bold;}

.map {
    background: url("../img/map.jpg");
    height: 476px;
    width: 100%;
}

.main-footer {
    padding: 0;
    width: 100%;    
    }

.footer-visit {  
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    width: 33,3334;
    padding-top: 45px;
    padding-bottom: 51px;
    padding-left: 133px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;}

.footer-social {
    width: 33,3334;
    padding-top: 30px;
    padding-bottom: 34px;
    padding-left: 244px;
    padding-right: 82px;
    vertical-align: middle;
    display: inline-block; text-align: center;}

.social-btn {
    display: inline-block;
    width: 47px;
    height: 47px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background: #81b3d2 url("../img/sprite-social.png") no-repeat center;
}

.socials-tv {
    background-position: 16px -32px;
}

.socials-fb {
     background-position: 18px 14px;
}

.social-yt {
     background-position: 16px -78px;
}

.copyright {
    font-size: 0px;
    width: 33,3334;
    padding-left: 136px;
    vertical-align: middle;
    display: inline-block;
    }

.logo-htmlacademy {
    display: inline-block;
    vertical-align: middle;
}

.copyright p {
    padding-left: 10px;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}

.logo-htmlacademy {
    width: 131px;
    height: 39px;
    margin: 4px 8px;
    text-decoration: none;
    background: transparent url('../img/result.png') no-repeat;
    background-position: 0 -339px;
}

.search {
    position: absolute;    
    width: 466px;
    padding: 53px;
    background-color: indianred;
    font-size: 0;
}

.search-form {
    margin-bottom: 30px;
    font-size: 0;
}

.search-form label {
    display: inline-block;
    color: black;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    width: 116px;    
    vertical-align: middle;
}

.search-form input {
    position: relative;
    display: inline-block;
    width: 301px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 30px;
    vertical-align: middle;
    border-style: none;
    background-color: #f2f2f2;
}

.search-form-number {
    display: inline-block;
    
}

.search-form-number label {
    text-align: center;
}

.search-form-number:first-child label {
    text-align: left;
}

.search-form-number input {
    width: 32px;
    padding-right: 41px;
    padding-left: 41px;
    text-align: center;}


.search-form-btn {
    width: 458px;
    padding-top: 15px;
    padding-bottom: 18px;
    margin-top: 30px;
    border: none;
    background-color: #81b3d2;
    color: white;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;}


.filter {
    background-image: url(../img/filter-bg.jpg);
    width: 100%;
    height: 219px;}

.selection-title {
    font-size: 16px;
    line-height: 21px;
    padding-top: 13px;
    padding-bottom: 13px;
  
    font-weight: bold;}

.filter-options {
    padding-left: 73px;}

.selection-left { 
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    color: white;
    float: left;}

.selection-left:first-child {
      margin-right: 120px;
    }

.selection-left input {
   
}

.filter-input {
    display: none;    
}

.filter-variant {
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 25px;
    }

.filter-variant::before {
    content: '';
    float: left;
    margin-right: 11px;
    width: 27px;
    height: 28px;
    background: transparent url('../img/result.png') no-repeat;
    background-position: 0 -276px;
    opacity: 1;
}
    
.filter-variant::after {
    content: "";
    float: left;
    margin-left: -38px;
    width: 27px;
    height: 28px;
    background: transparent url('../img/result.png') no-repeat;
    background-position: 0 -308px; 
    opacity: 0;
   }

#pool:checked ~ label[for="pool"]::before,
#parking:checked ~ label[for="parking"]::before,
#wifi:checked ~ label[for="wifi"]::before,
#hotel:checked ~ label[for="hotel"]::before,
#motel:checked ~ label[for="motel"]::before,
#apartments:checked ~ label[for="apartments"]::before
{
     opacity: 0;
}

#pool:checked ~ label[for="pool"]::after,
#parking:checked ~ label[for="parking"]::after,
#wifi:checked ~ label[for="wifi"]::after,
#hotel:checked ~ label[for="hotel"]::after,
#motel:checked ~ label[for="motel"]::after,
#apartments:checked ~ label[for="apartments"]::after
{
    opacity: 1;
    
}

.selection-right {
    width: 328px;
    padding-right: 74px;
    float: right;}

.selection-right h2 {
    padding-top: 13px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: white;
}

.selection-group {
    width: 313px;
    position: relative;
    left: 11px;
    border: 2px solid #fff;
    color: white;
    border-radius: 3px;
    font-size: 0;
}

.selection-group::before {
    content: '';
    position: absolute;
    left: 51%;
    top: 5px;
    width: 2px;
    height: 21px;
    margin-left: -1px;
    background: #fff;
      }

.selection-group label {
    display: inline-block;
    width: 40%;
    padding: 5px ;
    padding-left: 26px;
    font-size: 14px;
    text-align: center;
    
      }

.selection-input{
    max-width: 5%;
    border: none;
    color: #fff;
    background: transparent
}

.range-controls{
    position: relative;
    width: 315px;
    left: 14px;
    height: 2px;
    margin: 20px 0;
    background: #fff;;
}

.toggle {
    position: absolute;
    top: -9px;
    padding: 2px;
    border: 8px solid #fff;
    border-radius: 50%;
    outline: none;
    background: #ababab;
    }

.min-toggle{
    left: 0;}

.max-toggle {
    right: 45px;}

.btn-filter {
    margin-left: 97px;
    margin-top: 13px;
    padding: 4px 30px;
    border: 2px solid #fff;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    background: transparent;
    color: white;}


.hotel-sorting {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 73px;
    min-height: 16px;
    border-bottom: 1px solid #e5e5e5;    
}

.hotel-triage{
    margin-left: 43px;
    font-size: 12px;
    line-height: 26px;
    vertical-align: top;
}

.hotel-label{
    display: inline-block;
    margin-left: 39px;
    font-size: 12px;
    line-height: 26px;
    vertical-align: top;
}

.hotel-label a {
    position: relative;
    margin-right: 30px;}


.hotel-label a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    border-top: 1px dotted #81b3d2;}


.hotel-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-item {
    float: left;
    width: 100%;     
    border-bottom: 1px solid #e5e5e5; }

.hotel-left-block {
    display: inline-block;
    margin-left: 73px;
    margin-right: 25px;
    margin-top: 29px;
    margin-bottom: 25px;}


.hotel-info {
    display: inline-block;
    width: 258px;
    vertical-align: top;}


.hotel-result-title {
    display: block;
    margin-top: 24px;    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    max-width: 258px;
    }


.hotel-info-parttel {
    float: left;
    width: 110px;
}
.hotel-result-price,
.hotel-result-type {
    margin: 0px;
    margin-top: 7px;
    margin-bottom: 15px;
}

.hotel-info-part{
    float: right;
    width: 142px;}

.hotel-more {
    display: block;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 2px;
    text-align: center;
    color: white;
    background-color: #81b3d2;
    font-weight: bold;
}

.hotel-reservation {
    display: block;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 2px;
    text-align: center;
    color: white;
    background-color: #766357;
    font-weight: bold;}

.hotel-right-block {
    float: right;
    box-sizing: border-box;
    width: 180px;  
}

.hotel-rating {
    width: 110px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #f2f2f2;
}

.hotel-star {
    min-height: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.result-ratings-bad{
    width: 98px;
    margin-left: 20px;
    background: url(../img/result.png) no-repeat;
    background-position: 0px -248px ;
}

.result-ratings-good {
    width: 45px;
    margin-left: 65px;
    background: url(../img/result.png) no-repeat;
    background-position: 0px -248px  ;
    }

.result-ratings-excellent {
   width: 70px;
   margin-left: 45px;
   background: url(../img/result.png) no-repeat;
   background-position: 0px -248px  ;
}


