body {
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sans-serif;
    padding: 0;
    margin: 0;
    background: #f2f2f2;
    text-transform: uppercase;
}

h1 {
    font-size: 21px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
}

@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateY(-400px);
        transform: translateY(-400px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes slide {
    0% {
        -moz-transform: translateY(-400px);
        transform: translateY(-400px);
    }
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes slide {
    0% {
        -o-transform: translateY(-400px);
        transform: translateY(-400px);
    }
    100% {
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide {
    0% {
        transform: translateY(-400px);
    }
    100% {
        transform: translateY(0);
    }
}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

a {
    text-decoration: none;
    color: #000000;
}

.main-header {
    position: relative;
}

.main-navigation ul {
    margin: 0;
    padding: 0 6%;
    list-style: none;
    font-size: 0px;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 14px 0;
}

.main-navigation li:nth-child(2) {
    margin-right: 20%;
}

.main-navigation li:nth-child(1),
.main-navigation li:nth-child(2) {
    text-align: left;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
    text-align: right;
}

.main-navigation li:nth-child(2) {
    margin-left: 30px;
}

.main-navigation li:nth-child(3) {
    margin-left: -63px;
}

.main-navigation li:nth-child(4) {
    margin-left: 33px;
}

.main-navigation a {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #000;
    opacity: .3;
}

.main-navigation .active {
    color: #766357;
}

.main-navigation .active:hover {
    color: #604e43;
}

.main-navigation .active:active {
    color: #766357;
}

.logo {
    width: 138px;
    height: 70px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    margin-right: auto;
    margin-left: auto;
    transform: translateX(-50%);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.desc-definition {
    text-align: center;
}

.title-definition {
    font-weight: bold;
    padding-top: 43px;
    padding-bottom: 14px;
    font-size: 21px;
    line-height: 26px;
    color: #000;
}

.desc-definition p {
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 26px;
}

.welcome {
    position: relative;
    height: 510px;
    background: #3d4c57 url(../img/index-intro-bg.jpg) no-repeat 50% 30%;
    background-size: cover;
}

.welcome::after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 58px;
    width: 100%;
    background: url(../img/white.png) no-repeat;
    background-position: center;
}

.slogan {
    width: 458px;
    height: 352px;
    padding-top: 78px;
    margin-left: auto;
    margin-right: auto;
    color: transparent;
}

.benefits {
    min-height: 256px;
    background-color: #81b3d2;
}

.benefits-text {
    background-color: #81b3d2;
    width: 33.3334%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    float: left;
}

.benefits-text:nth-child(2) {
    float: right;
}

.benefits-text p {
    padding-top: 2%;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 14px;
    line-height: 21px;
}

.benefits-text h2 {
    padding-top: 36px;
    padding-bottom: 7px;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.benefits-image {
    position: relative;
    overflow: hidden;
    width: 66.6667%;
    min-height: 256px;
    float: left;
}

.benefits-image:nth-child(2) {
    float: right;
}

.benefits-image img {
    position: absolute;
    display: block;
    width: 100%;
    height: 256px;
}

.features-item {
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 69px;
    width: 33.3334%;
    text-align: center;
    float: left;
}

.features-title {
    position: relative;
    padding-top: 92px;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.features-title::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -17px;
    width: 78px;
    height: 88px;
    transform: translateX(-50%);
    background: transparent url("../img/result.png") no-repeat;
}

.features-title-house::before {
    background-position: 0 -157px;
}

.features-title-food::before {
    background-position: 0 9px;
}

.features-title-souvenirs::before {
    background-position: 6px -77px;
}

.features-item p {
    font-size: 14px;
    line-height: 21px;
    padding-top: 7px;
    padding-left: 13%;
    padding-right: 13%;
}

.call-item {
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 45px;
    width: 33.3334%;
    text-align: center;
    float: left;
}

.features-name-call {
    position: relative;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 6px;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.features-call p {
    font-size: 14px;
    line-height: 21px;
    padding-top: 7px;
    padding-left: 15%;
    padding-right: 15%;
}

.gray-bg {
    background-color: #eeeeee;
}

.offer {
    margin-top: 55px;
    text-align: center;
    text-transform: uppercase;
}

.offer-title {
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
}

.offer p {
    padding-top: 9px;
    padding-left: 30%;
    padding-right: 30%;
}

.offer-search {
    background-color: #766357;
    width: 570px;
    min-height: 88px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
}

.search-hostel {
    position: relative;
    display: block;
    margin-top: 45px;
    padding: 31px;
    font-size: 21px;
    line-height: 26px;
    color: white;
    font-weight: bold;
}

.map {
    background: url(../img/map.jpg);
    height: 100%;
    width: 100%;
    min-height: 265px;
    position: absolute;
    z-index: 1;
}

.footer-inner {
    padding: 3px 6%;
    font-size: 0;
}

.main-footer {
    position: relative;
    height: 593px;
    overflow: hidden;
}

.footer-block {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 3px 6%;
    font-size: 0;
    background: rgba(255, 255, 255, .9);
    z-index: 10;
    left: 0;
}

.footer-visit {
    box-sizing: border-box;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    width: 33.334%;
    padding-left: 62px;
    padding-bottom: 5px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

.footer-social {
    box-sizing: border-box;
    width: 33.334%;
    padding-top: 33px;
    padding-bottom: 34px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.social-btn {
    display: inline-block;
    width: 47px;
    height: 47px;
    margin-right: 3px;
    margin-left: 2px;
    vertical-align: top;
    text-decoration: none;
    position: relative;
    background: #81b3d2;
}

.social-btn::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/sprite-social.png") no-repeat center;    
}

.socials-tv::before {
    background-position: 3px -49px;
}

.socials-fb::before {
    height: 20px;
    background-position: 6px 0px;
}

.social-yt::before {
    width: 22px;
    background-position: 2px -94px;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.social-btn:active::before {
    opacity: 0.3;
}

.copyright {
    box-sizing: border-box;
    width: 33.334%;
    margin-left: -20px;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
}

.logo-htmlacademy {
    display: inline-block;
    vertical-align: middle;
}

.copyright p {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;

}

.logo-htmlacademy {
    width: 114px;
    height: 39px;
    margin: 4px 8px;
    text-decoration: none;
    background: transparent url("../img/logo-sprite.png") no-repeat;
    background-position: 0 0px;
}

.logo-htmlacademy:hover {
    background-position: 0 -48px;
}

.logo-htmlacademy:active {
    background-position: 0 -95px;
}

.search {
    display: none;
    position: absolute;
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
    left: 50%;
    margin-left: -285px;
    z-index: 10;
    top: 0;
    width: 465px;
    padding: 53px;
    background-color: #fff;
    font-size: 0;
}

.search-show {
    display: block;
    animation: slide 0.6s;
}

.search-form {
    margin-bottom: 30px;
    font-size: 0;
}

.search-form label {
    padding-left: 5px;
    display: inline-block;
    color: black;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    width: 110px;
    vertical-align: middle;
}

.search-form input {
    position: relative;
    outline: none;
    display: inline-block;
    vertical-align: top;
    width: 301px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    padding-right: 30px;
    vertical-align: middle;
    border-style: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    min-height: 26px;
}

.form-input:hover {
    border-color: #ebebeb;
    background: #ebebeb;
}

.form-input:focus {
    border: 1px solid #e5e5e5;
    background: #fff;
}

.search-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-style: none;
}

.icon-calendar {
    position: absolute;
    width: 25px;
    height: 22px;
    top: 55%;
    right: 4px;
    margin-top: -12px;
    font-size: 0;
    cursor: pointer;
    background: url(../img/result.png) no-repeat;
    background-position: 0 -388px;
}

.icon-calendar:hover {
    background: url(../img/result.png) no-repeat;
    background-position: -33px -388px;
}

.icon-calendar:active {
    background: url(../img/result.png) no-repeat;
    background-position: -68px -388px;
}

.icon-minus,
.icon-plus {
    position: relative;
    cursor: pointer;
}

.icon-minus {
    position: absolute;
    top: 17px;
    left: 131px;
    z-index: 6;
    width: 11px;
    height: 0;
    height: 11px;
    content: "";
    background: -89px -18px no-repeat url(../img/result.png);
    cursor: pointer;
}

.icon-plus {
    position: absolute;
    top: 12px;
    left: 204px;
    z-index: 6;
    width: 17px;
    height: 16px;
    content: "";
    background: -85px -70px no-repeat url(../img/result.png);
    cursor: pointer;
}

.icon-minus:hover {
    top: 18px;
    left: 131px;
    background: -89px -38px no-repeat url(../img/result.png);
}

.icon-plus:hover {
    top: 12px;
    left: 204px;
    background: -84px -91px no-repeat url(../img/result.png);
}

.icon-plus:active {
    top: 12px;
    left: 204px;
    background: -84px -115px no-repeat url(../img/result.png);
}

.icon-minus:active {
    top: 17px;
    left: 130px;
    background: -87px -58px no-repeat url(../img/result.png);
}

.search-form-number {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.search-form-number:first-child label {
    text-align: left;
}

.search-form-number:nth-child(2) label {
    text-align: right;
    width: 86px;
    padding-right: 27px;
    
}

.search-form-number input {
    width: 32px;
    padding-right: 40px;
    padding-left: 41px;
    text-align: center;
}

.search-form-btn {
    width: 461px;
    padding-top: 16px;
    padding-bottom: 17px;
    margin-top: 24px;
    margin-left: 3px;
    border: none;
    background-color: #81b3d2;
    color: white;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.search-form-btn:hover {
    background-color: #669ec0;
}

.search-form-btn:active {
    background-color: #5496bd;
    color: #88b6d1;
}

:-webkit-input-placeholder {
    color: #000;
}

::-moz-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

.filter-form {
    padding: 0 6%;
    background: #6c94bb url(../img/filter-bg.jpg);
}

.selection-title {
    font-size: 16px;
    line-height: 21px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: bold;
}

.selection-left {
    padding-right: 28px;
    padding-bottom: 5px;
    min-width: 225px;
    padding-right: 28px;
    max-width: 275px;
    font-size: 14px;
    line-height: 21px;
    color: white;
    float: left;
}

.filter-input {
    display: none;
}

.filter-variant {
    display: block;
    padding-left: 41px;
    position: relative;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 25px;
    word-break: break-word;
    width: 150px;
}

.filter-variant::before {
    position: absolute;
    content: "";
    top: -3px;
    left: 2px;
    width: 27px;
    height: 28px;
    background: transparent url("../img/result.png") no-repeat;
    background-position: -1px -275px;
    opacity: 1;
}

.filter-variant::after {
    position: absolute;
    content: "";
    top: -3px;
    left: 2px;
    width: 27px;
    height: 28px;
    background: transparent url("../img/result.png") no-repeat;
    background-position: -1px -307px;
    opacity: 0;
}

#pool:checked ~ label[for="pool"]::before,
#parking:checked ~ label[for="parking"]::before,
#wifi:checked ~ label[for="wifi"]::before,
#hotel:checked ~ label[for="hotel"]::before,
#motel:checked ~ label[for="motel"]::before,
#apartments:checked ~ label[for="apartments"]::before {
    opacity: 0;
}

#pool:checked ~ label[for="pool"]::after,
#parking:checked ~ label[for="parking"]::after,
#wifi:checked ~ label[for="wifi"]::after,
#hotel:checked ~ label[for="hotel"]::after,
#motel:checked ~ label[for="motel"]::after,
#apartments:checked ~ label[for="apartments"]::after {
    opacity: 1;
}

#pool:disabled ~ label[for="pool"]::before,
#parking:disabled ~ label[for="parking"]::before,
#wifi:disabled ~ label[for="wifi"]::before,
#hotel:disabled ~ label[for="hotel"]::before,
#motel:disabled ~ label[for="motel"]::before,
#apartments:disabled ~ label[for="apartments"]::before {
    background: transparent url("../img/result.png") no-repeat;
    background-position: -43px -274px;
}

#pool:disabled:checked ~ label[for="pool"]::after,
#parking:disabled:checked ~ label[for="parking"]::after,
#wifi:disabled:checked ~ label[for="wifi"]::after,
#hotel:disabled:checked ~ label[for="hotel"]::after,
#motel:disabled:checked ~ label[for="motel"]::after,
#apartments:disabled:checked ~ label[for="apartments"]::after {
    background: transparent url("../img/result.png") no-repeat;
    background-position: -43px -309px;
}

.selection-right {
    min-width: 225px;
    max-width: 320px;
    padding-right: 13px;
    float: right;
}

.selection-right h2 {
    padding-top: 12px;
    padding-left: 4px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.selection-group {
    width: 313px;
    position: relative;
    top: -2px;
    left: 14px;
    border: 2px solid #fff;
    color: white;
    border-radius: 3px;
    font-size: 0;
    cursor: pointer;
}

.selection-group::before {
    content: "";
    position: absolute;
    left: 51%;
    top: 5px;
    width: 2px;
    height: 21px;
    margin-left: -1px;
    background: #fff;
    cursor: pointer;
}

.selection-group label {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 5px 0;
    font-size: 14px;
    text-align: right;
    cursor: pointer;
}

.selection-input {
    width: 50%;
    outline: none;
    border: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
}

.range-controls {
    position: relative;
    width: 315px;
    left: 15px;
    top: -2px;
    height: 2px;
    margin: 20px 0;
    background: #fff;
    cursor: pointer;
}

.toggle {
    position: absolute;
    top: -9px;
    padding: 2px;
    border: 8px solid #fff;
    border-radius: 50%;
    outline: none;
    background: #ababab;
    cursor: pointer;
}

.toggle:hover {
    background: #1c4f80;
}

.min-toggle {
    left: 0;
}

.max-toggle {
    right: 45px;
}

.btn-filter {
    margin-left: 98px;
    margin-top: 10px;
    padding: 6px 31px;
    border: 2px solid #fff;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

.btn-filter:hover {
    background: white;
    color: black;
}

.hotel-sorting {
    padding: 30px 6%;
    min-height: 16px;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-triage {
    margin-left: 45px;
    font-size: 12px;
    line-height: 26px;
    vertical-align: top;
}

.hotel-label {
    display: inline-block;
    margin-left: 39px;
    font-size: 12px;
    line-height: 26px;
    vertical-align: top;
}

.hotel-label a {
    position: relative;
    color: #d1d1d1;
    margin-right: 30px;
}

.hotel-label a:hover {
    color: #81b3d2;
}

.hotel-label a:active {
    color: #000;
}

.hotel-label a.active {
    color: #81b3d2;
}

.hotel-label:active,
.hotel-label a.active {
    opacity: 1;
}

.hotel-label a:active::after,
.hotel-label a.active::after {
    border: none;
}

.hotel-label a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    border-top: 1px dotted #81b3d2;
}

.hotel-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-sorting-right {
    float: right;
    width: 36px;
    padding-top: 10px;
    font-size: 0;
}

.hotel-sorting-right a {
    display: inline-block;
    width: 11px;
    height: 11px;
    vertical-align: top;
}

.hotel-icon-down {
    position: relative;
    margin-left: 14px;
    top: -2px;
}

.hotel-icon-up::before,
.hotel-icon-down::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    border-width: 10px 5px 0;
    border-style: solid;
    border-color: #e5e5e5 transparent transparent;
}

.hotel-icon-up {
    position: relative;
    top: -2px;
    left: 2px;
}

.hotel-icon-up::before {
    border-width: 0 5px 10px;
    border-color: transparent transparent #e5e5e5;
}

.hotel-icon-up:hover:before {
    border-color: transparent transparent #000000;
}

.hotel-icon-down:hover:before {
    border-color: #000000 transparent transparent;
}

.hotel-icon-up:active:before {
    border-color: transparent transparent #81b3d2;
}

.hotel-icon-down:active:before {
    border-color: #81b3d2 transparent transparent;
}

.hotel-icon-up.hotel-active:before {
    border-color: transparent transparent #81b3d2;
}

.hotel-icon-down.hotel-active:before {
    border-color: #81b3d2 transparent transparent;
}

.hotel-item {
    float: left;
    width: 100%;
    padding: 0 6%;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-left-block {
    display: inline-block;
    margin-right: 25px;
    margin-top: 29px;
    margin-bottom: 25px;
    vertical-align: top;
}

.hotel-info {
    display: inline-block;
    width: 258px;
    vertical-align: top;
}

.hotel-result-title {
    display: block;
    margin-top: 24px;
    padding-left: 4px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    max-width: 258px;
}

.hotel-result-title:hover {
    color: #81b3d2;
}

.hotel-result-title:active {
    color: #b2b2b2;
}

.hotel-info-parttel {
    float: left;
    width: 110px;
}

.hotel-result-price,
.hotel-result-type {
    margin: 0px;
    margin-top: 7px;
    padding-left: 2px;
    margin-bottom: 15px;
}

.hotel-info-part {
    float: right;
    width: 142px;
}

.hotel-more {
    display: block;
    width: 100%;
    margin-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    color: #fff;
    background-color: #81b3d2;
    font-weight: bold;
}

.hotel-more:hover {
    background-color: #669ec0;
}

.hotel-more:active {
    color: #84b4d0;
    background-color: #5496bd;
}

.hotel-reservation {
    display: block;
    width: 100%;
     margin-left: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    text-align: center;
    color: #fff;
    background-color: #766357;
    font-weight: bold;
}

.hotel-reservation:hover {
    background-color: #604e43;
}

.hotel-reservation:active {
    color: #857871;
    background-color: #503e33;
}

.hotel-right-block {
    float: right;
    box-sizing: border-box;
}

.hotel-rating {
    width: 110px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #f2f2f2;
}

.hotel-star {
    min-height: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.result-ratings-bad {
    margin-left: 22px;
    background: url(../img/result.png) no-repeat;
    background-position: 0px -248px;
}

.result-ratings-good {
    margin-left: 70px;
    background: url(../img/result.png) no-repeat;
    background-position: 0px -248px;
}

.result-ratings-excellent {
    margin-left: 47px;
    background: url(../img/result.png) no-repeat;
    background-position: 0px -248px;
}